@media screen and (max-width: $mobile) {
    .card .grid-articulo {
        grid-template-columns: none;
        .nophone {
            display: none;
        }
    }
    .efecto {
        font-size: 25px;
        margin: 2% 5%;
    }
    .card,
    .card__galeria {
        font-size: $TamanoFuenteMobile;
    }
}