$mainColor: #bb001f;
$colorSecundario: #ffff;
$colorefectos: yellow;
$mainfuente: "Courier New",
Courier,
monospace;
$TamanoFuentepc: 20px;
$TamanoFuenteMobile: 16px;
$mobile: 550px;
$pc: 1024px; // variable aun no usada pero ya cargada para le futuro//